.listTitle {
    text-align: center;
    border-bottom: 1px dotted gray;
    margin-left: 4rem;
    margin-right: 4rem;
}

.ulContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 90%;
    margin: 0 auto;
}

.todo{
    background-color: rgb(104, 98, 98);
    border-radius: 999px;
    padding: 0.75rem 1rem;
    margin-right: 2.5rem;
    display: flex;
    justify-content: space-between;
}


.addTodo {
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
    margin-top: 2rem;
    margin-right: 5rem;

}

.skip {
    border-radius: 9px;
    padding: 0.75rem 0.75rem;
}

.skip:hover {
    cursor: pointer;
}

