.form{
    display: flex;
    gap: 1rem;
    width: 100%;
}

.inputDiv{
    display: flex;
    gap: 0.25rem;
    height: 2.5rem;
   
}

.input {
    /* border: 1px solid red; */
     border-radius: 9px;
}

.optionDiv{
    display: flex;
    gap: 5rem;
}